.vl {
    border-left: 2px solid rgb(13, 13, 13);
    height: 200px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .mic{
    width: 600px;
    height: 470px;
    border-radius: 20px;
  }
  .about{
    width: 1000px;
  }
  .layout{
    margin-top: 8%;
  }
  .intro{
    display: flex;
    margin: 3%;
    gap: 5%;
    justify-content: center;
  }
  .episodes{
    display: flex;
    justify-content: center;
  }
  .episode{
    display: flex;
    width: 400px;
    height: 200px;
    gap: 10%;
    padding: 3%;
    margin: 1%;
    border-radius: 20px;
    background: linear-gradient(to right, rgb(136, 32, 32) , rgb(168, 96, 96));
  }
  .description{
    width: 250px;
    padding-top: auto;
    padding-bottom: auto;
  }
.play{
    justify-content: center;
}
.icon{
    font-size: 60px;
    color: (13, 13, 13);
}
h6{
    font-size: 18px;
    color: (13, 13, 13);
}
h4{
    color: (13, 13, 13);
    font-size: 20px;
}
h2{
    font-size: 25px;
    font-family:fantasy;
    font-style: italic;
    color: maroon;
}
h3{
    color: (13, 13, 13);
    font-size: 23px;
}
.para{
    color: rgb(13, 13, 13);
    font-size: 18px;
}
h1{
    text-align: center;
    margin-top: 2%;
    font-size: 40px;
    color: maroon;
}
h5{
    font-size: 30px;
    font-weight: 300;
}
hr{
    border: solid 1px maroon;
}
